<!--The content below is only a placeholder and can be replaced.-->
<div class="container main_container">

  <aside class="menu left_sidebar">
    <nav id="main_nav" class="navbar" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <a class="navbar-item gitever_logo" href="https://localhost:4200">
          <img src="../../assets/logo.svg" alt="GitBased Evernote" style="width: 100%">
        </a>

        <a role="button" class="navbar-burger is-mobile" aria-label="menu" aria-expanded="false">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>

      <app-main-menu></app-main-menu>

    </nav>

  </aside>

  <div class="container right_container">

    <router-outlet></router-outlet>

  </div>

  <app-main-progress-bar></app-main-progress-bar>

</div>
